@(loginForm: Form[(String, String)])

@import helper._

@main(title = "Страница с одной формой") {

    <h1>Войдите используя логин и пароль:</h1>

    @form(action = routes.Application.index, args = 'id -> "loginform") {

        @inputText(
            field = loginForm("name"),
            args = '_label -> "What's your name?", 'placeholder -> "Dmitry"
        )

        @inputText(
            field = loginForm("password"),
            args = '_label -> "Enter your password here", 'placeholder -> "****", 'type -> "password"
        )
    }
}
